<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>environment</key>
    <string>debug</string>
    <key>url</key>
    <string>https://YOUR_DEVELOPMENT_PROJECT.supabase.co</string>
    <key>anonKey</key>
    <string>YOUR_DEVELOPMENT_PUBLISHABLE_KEY</string>
</dict>
</plist>
